name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Testing Coverage
      run: cargo llvm-cov
    - name: Clippy Linking
      run: cargo clippy -- -D warnings
    - name: Formatting
      run: cargo fmt -- --check
    - name: Vulnerability Scan
      run: cargo audit
